extends layout

block content
  h1= title
  form#formAddUser(name="adduser", method = "post", action="/adduser")
      input#inputUserName(type="test", placeholder="username", name="username")
      input#inputUserEmail(type="test", placeholder="useremail", name="useremail")
      input#inputUserComment(type="test", placeholder="usercomment", name="usercomment")
      button#btnSubmmit(type="submit") submit
